.navRightInstagram {
    .instagramImgLinks {
        display: grid;
        grid-template-columns: 88px 88px 88px;
        grid-template-rows: 88px 88px;
        gap: 7px;
        div {
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}
