.newsBodyBig {
    max-width: 860px;
    .nextItems {
        margin: 60px 0 0 60px;
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            li {
                margin: 0 5px;
                a {
                    padding: 10px 14px;
                    border: 1px solid rgb(173, 173, 173);
                    font-size: 12px;
                    text-decoration: none;
                    color: rgb(93, 93, 93);
                    font-weight: 600;
                    &:hover {
                        background-color: #00abcd;
                        color: white;
                        transition: 0.7s all ease;
                    }
                    img {
                        height: 12px;
                        width: 12px;
                    }
                }
            }
        }
    }
}
