.latestSec {
    display: flex;
    flex-direction: column;
    .latestInforms {
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 40px;
        .latestInformsImg {
            height: 55px;
            width: 55px;
            background-color: blue;
            margin-right: 15px;
            margin-top: 6px;
            img {
                width: 100%;
            }
        }
        .latestInformsText {
            width: 210px;
            a {
                font-size: 13px;
                text-decoration: none;
                font-weight: 600;
                line-height: 24px;
                color: rgb(82, 82, 82);
                &:hover {
                    color: #00abcd;
                    transition: 0.7s all ease;
                }
            }
            p {
                font-size: 13px;
                font-weight: 500;
                color: rgb(138, 138, 138);
            }
        }
    }
}
