.navRightSectionTitle {
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    font-size: 14px;
    margin: 60px 0 25px 0;
    .bottomLine {
        height: 2px;
        width: 55px;
        background-color: #00abcd;
        margin-top: 10px;
    }
}
