.pageTitle {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    div {
        height: 100px;
        width: 1180px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        text-transform: uppercase;

        color: #77777b;
        h3 {
            font-size: 16px;
            margin-right: auto;
            font-weight: 600;
        }
        a {
            font-size: 12px;
            text-decoration: none;
            color: #77777b;
            font-weight: 600;
            &:hover {
                color: #00abc9;
                transition: 0.7s all ease;
            }
        }
        img {
            filter: grayscale(100%);
            width: 17px;
            z-index: 1;
        }
        h5 {
            font-size: 12px;
            font-weight: 500;
        }
    }
}
